$borderWidth:0px;
$containerMinHeight:auto;/*container min height hold a place*/
$size0:0px;
$flexSize:10px;
$containerBgColor:trnsparent;
$miniHeight:0px;
.ComponentController{
  border: $borderWidth solid #000000;
  min-height: $containerMinHeight;
}
ul > li{
  list-style: none;
}

ul,li{
  padding: $size0;
  margin: $size0;
}
$classList: (span:2px,div:4px);
@each $class, $itema in $classList {
    #{$class}-#{$itema} {
      font-size: 3px;
    }
}

$liMap:(first:1px,second:2px);
@each $key,$value in $liMap{
  #{$key}{
    border: $value;
  }
}
$userArr:1px 2px 3px;
@for $key  from 1 through length($userArr){
  li:nth-child(#{$key}){
  border:nth($userArr,$key) solid #fc8c84;
}
}

$doubleDeg:1px solid #f00,11px solid #f00,21px solid #f00,31px solid #f00,41px solid #f00,51px solid #f00;
$seq:0;
$tempColor:#adf;
@each $width , $style , $color in $doubleDeg{
  $seq:$seq+1;
  $tempColor:darken($tempColor,10);
  ul>li:nth-child(#{$seq}){
    border: $width $style $tempColor;
  }
}

.container{
 background: $containerBgColor;
  min-height: $miniHeight;
}


$containerTypeMap:(data-role-block:block,data-role-inline-block:inline-block);
@each $dataRole,$value in $containerTypeMap{
  div[data-role=#{$value}]{
    display: $value;
  }
}

.container-row{
  width: 100%;
}
.container-row:after{
  display: block;
  content: '';
  height: 0px;
  float: none;
  clear: both;
}

$colNum:12*2;
$colArr:1;
@for $seq from 1 through $colNum{
  .container-row div[data-role=inline-block][data-role-col='#{$seq}col']{
    width: $seq*(100/$colNum)*1%;
    box-sizing: border-box;
    border: 0px solid #f0ad4e;
    float: left;
    display: inline-block;
    background: $containerBgColor;
    min-height: $containerMinHeight;
    position: relative;
    text-overflow: ellipsis;
  }

  .container-row div[data-role=inline-block][data-role-offset='#{$seq}col']{
    margin-left:$seq*(100/$colNum)*1%;
  }

  .container-row div[data-role=inline-block][data-role-col='#{$seq}col']:after{
    display: block;
    content: '';
    height: 0px;
    float: none;
    clear: both;
  }

}


.clear:after{
  display: table;
  content: '';
  clear: both;
  height: 0px;
}
.inline-block-span{
  display: inline-block;
  padding:2px 10px;
  border-radius: 3px;
  border: 1px solid #1edf91;
  margin-bottom: 3px;
  margin-right: 3px;
  color: #999;
  font-size: 12px;
}
.toolBox{
  border:1px solid rgba(4, 200, 247, 0.5);
  padding: 2px;
  border-radius: 0px;
  cursor: pointer;
}
.toolBox span{
  @extend .inline-block-span;
}
.toolBox>span span{
  color:rgba(50, 188, 249, 0.82);
}
.editorContainer{
  border: 0px dotted #ff0000 !important;
  background: #fff !important;
  min-height: 400px!important;
}
.editorContainer >div>div{
  position: relative;
}
.elementEditorIcon{
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 1px;
  color: #fff;
  display: none;
}

.elementEditorContainer{
  background: #1b6d85!important;
  color: #fff!important;
  border-radius: 5px;
  padding: 0px;
}

.elementEditorContainer input{
  width:40px;
}
table{
  border-collapse: collapse;
}
.elementEditorContainer table{
    font-size: 12px;
  width: 100%;
  text-align: right;
  border-collapse: collapse;
  position: relative;
  border-collapse: collapse;
}

.elementEditorContainer table tr,.elementEditorContainer table tr td{
  transition: all 3s;
  border-collapse: collapse;
}

.elementEditorContainer table tr td:nth-child(even){
  text-align: left;
}

.elementEditorContainer table td{
  position: relative;
}
.elementEditorContainer table input{
}
.appTitle{
  @extend .inline-block-span;
  color: #fff;
  font-size: 16px;
  background: #1b6d85;
}

.elementEditorContainer{
  position: fixed!important;
  z-index: 100!important;
  right: 3%!important;
  /*top: 100%!important;*/
  top: 40%;
  background: rgba(15, 117, 217, 0.77) !important;
  /*margin-top: -50% !important;*/
}
.trOperate{
  position: absolute;
  width: 170px;
  text-align: left;
  top:0px;
  right: -170px;
  display: none;
}

td:hover .trOperate{
  display: inline-block!important;
}

.trOperate>span{
  @extend .inline-block-span;
  border-color: #5436d1;
  padding: 0px;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  text-align: center;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  border-radius: 50%;
  background: #5436d1;
}
.operateTd{
  position: relative;
}

.insertTable td{
  position: relative;
}
.insertTable input{
  width: 100%;
  border: none;
  box-shadow: none;
  text-align: center;
  background: transparent;
}



.tdOperater{
  position: absolute;
  right: 0px;
  top: 0px;
}

.tdOperater > span{
  font-size: 12px!important;
  background: #f0f;
  border-radius: 50%;
  color: #fff;;
  padding: 2px;
  cursor: pointer;
}

.tdOperater{
  display: none;
}
td:hover .tdOperater{
  display: inline-block!important;
}

.editorTarget{
  outline: 1px dotted #00c3fb;
  box-shadow: 0px 0px 30px #02fd81;
  position: relative;
  z-index: 1;
}

.editorTarget:hover >.elementEditorIcon{
  display: inline-block;
  padding: 2px;
  z-index: 100;
  background: #ff0000;
  font-size: 12px;
  text-align: center;
  border-radius: 50%;
}

.tableSampleTowColTwoRow{
  display: inline-block;
  height: 20px;
  padding: 0px!important;
  width: 20px;
  position: relative;
  border: 1px solid #ff0000;
}

.tableSampleTowColTwoRow:after{
  display: inline-block;
  height: 50%;
  width: 100%;
  position: absolute;
  border-bottom: 1px solid #ff0000;
  content: "";
}

.tableSampleTowColTwoRow:before{
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 50%;
  border-right: 1px solid #ff0000;
  content: "";
}

.baseSample{
  display: inline-block;
  height: 10px;
  padding: 0px!important;
  width: 20px;
  position: relative;
  border: 1px solid #ff0000;
  border-radius: 0px!important;
}
.tableSampleOneCol{
  @extend .baseSample;
}

.tableSampleOneCol:before{
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 0%;
  left: 0%;
  border-left: 0px solid #ff0000;
  border-right: 0px solid #ff0000;
  content: "";
}
.tableSampleTwoCol{
  @extend .baseSample;
}

.tableSampleTwoCol:before{
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0%;
  border-left: 0px solid rgba(50, 188, 249, 0.82);
  border-right: 1px solid rgba(50, 188, 249, 0.82);
  content: "";
}

.tableSampleThreeCol{
  @extend .baseSample;
}

.tableSampleThreeCol:before{
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 33.3%;
  left: 32.3%;
  border-left: 1px solid rgba(50, 188, 249, 0.82);
  border-right: 1px solid rgba(50, 188, 249, 0.82);
  content: "";
}

.tipMessage{
  text-align: center;
  font-size: 12px;
}

img{
  vertical-align: middle;
}

.dragHandle{
  background:rgba(255, 255, 255, 0.61);
  height: 20px;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  cursor: move;
}

.flexContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  flex-direction: row;
  background: #fff;;
}
.flexContainer>div,.flexContainer>span{
  flex-grow: 1;

}

.btn{
  display: inline-block;
  padding: 5px 25px;
  font-size: 16px;
  background: coral;
  border: 1px solid #ffc520;
  border-radius: 3px;
  color: #fff;
  position: relative;
  z-index: 1;
}

.quanFont{
  display: inline-block;
  padding: 5px 5px;
  font-size: 36px;
  background: #fff;
  border: 3px solid #eee;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #eee;
  position: absolute;
  left: -15px;
}

.listContainer{
  padding: 10px 10px;
}

.left{
  text-align: left;
}

.center{
  text-align: center;
}

.goodsDetail{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background: #fff;
  padding: 5px;
}

.goodsName{
  position: relative;
  text-align: left;
  height: 40px;
  overflow: hidden;
  line-height: 20px;
  font-size: 13px;
  text-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;
}
.buyNum{
  position: relative;
  float: right;
  font-size: 12px;
  color: #ff2c2d;
  padding-right: 13px;
}

.priceDetail{

}

.currentPrice,.outDatePrice{
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
}

.currentPrice{
  color: #ff2c2d;
}
.outDatePrice{
  color: #ddd;
  text-decoration: line-through;
  margin: 2px 3px;
}
.buyBtn{
  display: inline-block;
  padding: 4px 6px;
  background: coral;
  border: 0px solid #ffc520;
  border-radius: 3px;
  font-size: 12px;
  color: #fff;
}
.redBg{
  background: #ff2c2d;
}

.goodsImg img{
  width: 80%;
  max-width: 160px;
}

.flexContainer .left{
  flex-grow: 0;
}



.mobile{
  border: 1px solid #e0e0e0;
  border-radius: 35px;
  min-height: 300px;
  width: 375px;;
  padding: 20px;
  padding-bottom: 10px;
}

.header{
  width: 100%;
}

.phoneHeader{
  text-align: center;
  padding: 20px 0px;
}

.battery{
  background: rgb(71,63,56);
}
.battery img{
  width: 100%;;
}

.title{
  background: rgb(71,63,56);
  text-align: center;
  padding: 10px 0px;
  color: #fff;
}

.mobileContext{
  border:1px solid #eaeaea;
  min-height: 500px;;
}

.finger{
  padding-top: 10px;
  text-align: center;
}
.circle{
  display: inline-block;
  border: 1px solid #eaeaea;
  padding: 20px;
  border-radius: 50%;
}