<table>
    <tr>
        <td>容器宽度</td>
        <td><input type="number" style="width: 40px;" ng-model="data.element.colNum"></td>
        <td>向右偏移</td>
        <td><input type="text" ng-model="data.element.offset"></td>
    </tr>
    <tr>
        <td>边框大小</td>
        <td><input type="number" style="width: 40px;" ng-model="data.element.borderWidth"></td>
        <td>边框样式</td>
        <td><input type="text" ng-model="data.element.borderStyle"></td>
    </tr>
    <tr>
        <td>边框颜色</td>
        <td><input type="text" ng-model="data.element.borderColor"></td>
        <td>字体颜色</td>
        <td><input type="text" ng-model="data.element.color"></td>
    </tr>
    <tr>
        <td>背景颜色</td>
        <td><input type="text" ng-model="data.element.backgroundColor"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>上下线外边距</td>
        <td><input type="text" ng-model="data.element.marginTopAndBottom"></td>
        <td>左右外边距</td>
        <td><input type="text" ng-model="data.element.marginLeftAndRight"></td>
    </tr>
    <tr>
        <td>上下线内边距</td>
        <td><input type="text" ng-model="data.element.paddingTopAndBottom"></td>
        <td>左右内边距</td>
        <td><input type="text" ng-model="data.element.paddingLeftAndRight"></td>
    </tr>
</table>