<table>
    <tr>
        <td>容器宽度</td>
        <td><input type="number" style="width: 40px;" ng-model="data.element.colNum"></td>
        <td>向右偏移</td>
        <td><input type="text" ng-model="data.element.offset"></td>
    </tr>
    <tr>
        <td>边框大小</td>
        <td><input type="number" style="width: 40px;" ng-model="data.element.borderWidth"></td>
        <td>边框样式</td>
        <td><input type="text" ng-model="data.element.borderStyle"></td>
    </tr>
    <tr>
        <td>边框颜色</td>
        <td><input type="text" ng-model="data.element.borderColor"></td>
        <td>背景颜色</td>
        <td><input type="text" ng-model="data.element.backgroundColor"></td>
    </tr>
    <tr>
        <td>文本宽度</td>
        <td><input type="text" ng-model="data.element.width"></td>
        <td>文本高度</td>
        <td><input type="text" ng-model="data.element.height"></td>
    </tr>
    <tr>
        <td>上下外边距</td>
        <td><input type="text" ng-model="data.element.marginTopAndBottom"></td>
        <td>左右外边距</td>
        <td><input type="text" ng-model="data.element.marginLeftAndRight"></td>
    </tr>
    <tr>
        <td>上下内边距</td>
        <td><input type="text" ng-model="data.element.paddingTopAndBottom"></td>
        <td>左右内边距</td>
        <td><input type="text" ng-model="data.element.paddingLeftAndRight"></td>
    </tr>
    <tr>
        <td>显示类型</td>
        <td><input type="text" ng-model="data.element.display"></td>
        <td>字体颜色</td>
        <td>
            <input type="text" ng-model="data.element.color">
        </td>
    </tr>
    <tr>
        <td>字体大小</td>
        <td><input type="text" ng-model="data.element.fontSize"></td>
        <td>字体名称</td>
        <td>
            <input type="text" ng-model="data.element.fontFamily">
        </td>
    </tr>
    <tr>
        <td>边框样式</td>
        <td><input type="text" ng-model="data.element.borderStyle"></td>
        <td>边框颜色</td>
        <td>
            <input type="text" ng-model="data.element.borderColor">
        </td>
    </tr>
    <tr>
        <td>边框大小</td>
        <td><input type="text" ng-model="data.element.borderSize"></td>
        <td>字体圆角半径</td>
        <td>
            <input type="text" ng-model="data.element.borderRadius">
        </td>
    </tr>
    <tr>
        <td>字体行高</td>
        <td><input type="text" ng-model="data.element.lineHeight"></td>
        <td>水平对齐方式</td>
        <td>
            <input type="text" ng-model="data.element.textAlign">
        </td>
    </tr>
    <tr>
        <td>文本内容</td>
        <td colspan="3"><input type="text" ng-model="data.element.content" style="width: 60%;"></td>
    </tr>
    <tr>
        <td>链接到</td>
        <td colspan="3">
            <input type="text" ng-model="data.element.linkUrl"  style="width: 60%;">
        </td>
    </tr>
</table>