<table>
    <tr>
        <td>容器宽度</td>
        <td><input type="number" style="width: 40px;" ng-model="data.element.colNum"></td>
        <td>向右偏移</td>
        <td><input type="text" ng-model="data.element.offset"></td>
    </tr>
    <tr>
        <td>边框大小</td>
        <td><input type="number" style="width: 40px;" ng-model="data.element.borderWidth"></td>
        <td>边框样式</td>
        <td><input type="text" ng-model="data.element.borderStyle"></td>
    </tr>
    <tr>
        <td>边框颜色</td>
        <td><input type="text" ng-model="data.element.borderColor"></td>
        <td>背景颜色</td>
        <td><input type="text" ng-model="data.element.backgroundColor"></td>
    </tr>
    <tr>
        <td>图片地址</td>
        <td colspan="3"><input type="text" ng-model="data.element.imgSrc" style="width: 100%;"></td>
    </tr>
    <tr>
        <td>图片宽</td>
        <td><input type="text" ng-model="data.element.imgWidth"></td>
        <td>图片高</td>
        <td><input type="text" ng-model="data.element.imgHeight"></td>
    </tr>
    <tr>
        <td>图片边框大小</td>
        <td><input type="text" ng-model="data.element.imgBorderSize"></td>
        <td>图片边框颜色</td>
        <td><input type="text" ng-model="data.element.imgBorderColor"></td>
    </tr>
    <tr>
        <td>图片边框样式</td>
        <td><input type="text" ng-model="data.element.imgBorderStyle"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>图片圆角大小</td>
        <td><input type="text" ng-model="data.element.imgBorderRadius"></td>
        <td></td>
        <td>
        </td>
    </tr>

</table>