<table>
    <tr>
        <td>容器宽度</td>
        <td><input type="number" style="width: 40px;" ng-model="data.element.colNum"></td>
        <td>向右偏移</td>
        <td><input type="text" ng-model="data.element.offset"></td>
    </tr>
    <tr>
        <td>表格宽度</td>
        <td><input type="text" ng-model="data.element.width"></td>
        <td>文本对齐方式</td>
        <td><input type="text" ng-model="data.element.tableTextAlign"></td>
    </tr>
    <!--表格边框样式设置-->
    <tr>
        <td>表格上下外边距</td>
        <td><input type="text" ng-model="data.element.tableMarginTopAndBottom"></td>
        <td>表格左右外边距</td>
        <td><input type="text" ng-model="data.element.tableMarginLeftAndRight"></td>
    </tr>
    <tr>
        <td>表格上边框大小</td>
        <td><input type="text" ng-model="data.element.tableBorderTopSize"></td>
        <td>表格下边框大小</td>
        <td><input type="text" ng-model="data.element.tableBorderBottomSize"></td>
    </tr>
    <tr>
        <td>表格左边框大小</td>
        <td><input type="text" ng-model="data.element.tableBorderLeftSize"></td>
        <td>表格右边框大小</td>
        <td><input type="text" ng-model="data.element.tableBorderRightSize"></td>
    </tr>
    <tr>
        <td>表格上边框颜色</td>
        <td><input type="text" ng-model="data.element.tableBorderTopColor"></td>
        <td>表格下边框颜色</td>
        <td><input type="text" ng-model="data.element.tableBorderBottomColor"></td>
    </tr>
    <tr>
        <td>表格左边框颜色</td>
        <td><input type="text" ng-model="data.element.tableBorderLeftColor"></td>
        <td>表格右边框颜色</td>
        <td><input type="text" ng-model="data.element.tableBorderRightColor"></td>
    </tr>
    <tr>
        <td>表格上边框样式</td>
        <td><input type="text" ng-model="data.element.tableBorderTopStyle"></td>
        <td>表格下边框样式</td>
        <td><input type="text" ng-model="data.element.tableBorderBottomStyle"></td>
    </tr>
    <tr>
        <td>表格左边框样式</td>
        <td><input type="text" ng-model="data.element.tableBorderLeftStyle"></td>
        <td>表格右边框样式</td>
        <td><input type="text" ng-model="data.element.tableBorderRightStyle"></td>
    </tr>
    <tr>
        <td>表格背景颜色</td>
        <td><input type="text" ng-model="data.element.tableBackgroundColor"></td>
        <td>表格背景图片</td>
        <td><input type="text" ng-model="data.element.tableBackgroundUrl"></td>
    </tr>

    <!--表格行样式设置-->
    <tr>
        <td>行上边框大小</td>
        <td><input type="text" ng-model="data.element.tableTrBorderTopSize"></td>
        <td>行下边框大小</td>
        <td><input type="text" ng-model="data.element.tableTrBorderBottomSize"></td>
    </tr>
    <tr>
        <td>行左边框大小</td>
        <td><input type="text" ng-model="data.element.tableTrBorderLeftSize"></td>
        <td>行右边框大小</td>
        <td><input type="text" ng-model="data.element.tableTrBorderRightSize"></td>
    </tr>
    <tr>
        <td>行上边框颜色</td>
        <td><input type="text" ng-model="data.element.tableTrBorderTopColor"></td>
        <td>行下边框颜色</td>
        <td><input type="text" ng-model="data.element.tableTrBorderBottomColor"></td>
    </tr>
    <tr>
        <td>行左边框颜色</td>
        <td><input type="text" ng-model="data.element.tableTrBorderLeftColor"></td>
        <td>行右边框颜色</td>
        <td><input type="text" ng-model="data.element.tableTrBorderRightColor"></td>
    </tr>
    <tr>
        <td>行上边框样式</td>
        <td><input type="text" ng-model="data.element.tableTrBorderTopStyle"></td>
        <td>行下边框样式</td>
        <td><input type="text" ng-model="data.element.tableTrBorderBottomStyle"></td>
    </tr>
    <tr>
        <td>行左边框样式</td>
        <td><input type="text" ng-model="data.element.tableTrBorderLeftStyle"></td>
        <td>行右边框样式</td>
        <td><input type="text" ng-model="data.element.tableTrBorderRightStyle"></td>
    </tr>


    <!--表格单元格样式-->
    <tr>
        <td>单元格上边框大小</td>
        <td><input type="text" ng-model="data.element.tableTrTdBorderTopSize"></td>
        <td>单元格下边框大小</td>
        <td><input type="text" ng-model="data.element.tableTrTdBorderBottomSize"></td>
    </tr>
    <tr>
        <td>单元格左边框大小</td>
        <td><input type="text" ng-model="data.element.tableTrTdBorderLeftSize"></td>
        <td>单元格右边框大小</td>
        <td><input type="text" ng-model="data.element.tableTrTdBorderRightSize"></td>
    </tr>
    <tr>
        <td>单元格上边框颜色</td>
        <td><input type="text" ng-model="data.element.tableTrTdBorderTopColor"></td>
        <td>单元格下边框颜色</td>
        <td><input type="text" ng-model="data.element.tableTrTdBorderBottomColor"></td>
    </tr>
    <tr>
        <td>单元格左边框颜色</td>
        <td><input type="text" ng-model="data.element.tableTrTdBorderLeftColor"></td>
        <td>单元格右边框颜色</td>
        <td><input type="text" ng-model="data.element.tableTrTdBorderRightColor"></td>
    </tr>
    <tr>
        <td>单元格上边框样式</td>
        <td><input type="text" ng-model="data.element.tableTrTdBorderTopStyle"></td>
        <td>单元格下边框样式</td>
        <td><input type="text" ng-model="data.element.tableTrTdBorderBottomStyle"></td>
    </tr>
    <tr>
        <td>单元格左边框样式</td>
        <td><input type="text" ng-model="data.element.tableTrTdBorderLeftStyle"></td>
        <td>单元格右边框样式</td>
        <td><input type="text" ng-model="data.element.tableTrTdBorderRightStyle"></td>
    </tr>
    <tr>
        <td>单元格上边距大小</td>
        <td><input type="text" ng-model="data.element.tableTrTdPaddingTopSize"></td>
        <td>单元格下边距大小</td>
        <td><input type="text" ng-model="data.element.tableTrTdPaddingBottomSize"></td>
    </tr>
    <tr>
        <td>单元格左边距大小</td>
        <td><input type="text" ng-model="data.element.tableTrTdPaddingLeftSize"></td>
        <td>单元格右边距大小</td>
        <td><input type="text" ng-model="data.element.tableTrTdPaddingRightSize"></td>
    </tr>
</table>